erikdyrelius-polyglot/day03/target/*
*.o
erikdyrelius-polyglot/lib/*
erikdyrelius-polyglot/*.exe
erikdyrelius-polyglot/backup/*
erikdyrelius-python/.vscode/settings.json
Day 3*
erikdyrelius-polyglot/*.class
Day 3 : Part 1 using Numpy
erikdyrelius-polyglot/nimcache/*
