[submodule "tomasaschan-haskell"]
	path = tomasaschan-haskell
	url = git@github.com:tomasaschan/advent-of-code-2018
[submodule "meck-haskell"]
	path = meck-haskell
	url = https://github.com/meck/AoC2018.git
[submodule "albert-arvidsson-elixir"]
	path = albert-arvidsson-elixir
	url = git@github.com:scmx/advent-of-code-2018-elixir
[submodule "fronkan-python"]
	path = fronkan-python
	url = git@github.com:Fronkan/advent_of_code_2018.git
[submodule "yxhuvud-crystal"]
	path = yxhuvud-crystal
	url = https://github.com/yxhuvud/aoc18
[submodule "bowald-rust"]
	path = bowald-rust
	url = https://github.com/bowald/advent_of_code_2018.git
[submodule "k0nserv-rust"]
	path = k0nserv-rust
	url = git@github.com:k0nserv/advent-of-rust-2018.git
[submodule "littleandi-csharp"]
	path = littleandi-csharp
	url = https://github.com/LittleAndi/advent-of-code-2018.git
[submodule "yoanndupont-ada"]
	path = yoanndupont-ada
	url = https://github.com/YoannDupont/advent_of_code_2018.git
[submodule "knyl-kotlin"]
	path = knyl-kotlin
	url = https://github.com/knyl/aoc2018
[submodule "ehammarstrom-cpp"]
	path = ehammarstrom-cpp
	url = git@github.com:eHammarstrom/adventofcode.git
[submodule "alex-ross-swift"]
	path = alex-ross-swift
	url = git@github.com:alex-ross/adventofcode-2018-swift.git
[submodule "jassob-haskell"]
	path = jassob-haskell
	url = git@github.com:Jassob/aoc-2018
[submodule "dbgeek-go"]
	path = dbgeek-go
	url = git@github.com:dbgeek/aoc_2018.git
[submodule "prositen-python"]
	path = prositen-python
	url = git@github.com:prositen/advent-of-code.git
