[submodule "tomasaschan-haskell"]
	path = tomasaschan-haskell
	url = git@github.com:tomasaschan/advent-of-code-2018
[submodule "albert-arvidsson-elixir"]
	path = albert-arvidsson-elixir
	url = git@github.com:scmx/advent-of-code-2018-elixir
